@CHARSET "UTF-8";

.bookmark-widget{
	padding-bottom:7px;
	
}

.tab-content{
	padding-top: 25px;
}

.tag-allCategories{
	font-weight: bold;
	padding-bottom:50px;
}

.connectionStatus{
    position: fixed;
    top: 600px;
    left: 200px;
}

p {
  text-align:left;
}

